.mainContentStyles{
  position: relative;
  z-index: 2;
  top: 45px;
  min-height: calc(100% - 50px);
}

.notifSectionStyles{
  color:white;
  font-size:22px;
}

.logoTextStyles{
  width: 120px;
  position: relative;
  top: 5px;
  height: 32px;
}

.logoSectionStyles{
  color: white;
  font-size: 19px;
  position: relative;
  top: 2px,
}
