
$previousPoint: 0;
$previousStatus : 0;
$redCandleTop:0;
$sw : 0;
$counter : 0;
@for $i from 0 to 200 {
  $displayStatus: random(2);
  $randomNumber: random(60);
  $reduceFirst: $randomNumber - random(10);
  $reduceSecond: $randomNumber - random(14);
  $reduceThird: $randomNumber - random(25);


  @if $reduceFirst < 0{
    $reduceFirst : $reduceFirst * -1
  }

  @if $reduceSecond < 0{
    $reduceSecond : $reduceSecond * -1
  }

  @if $reduceThird < 0{
    $reduceThird : $reduceThird * -1
  }
  .counter{
    top: $counter;
  }
  .previousPoint{
    top:$previousPoint
  }
  @if($counter >= 2 ){
    $displayStatus : 2;
    $counter : 0;
  }
  @if($counter <= -2 ){
    $displayStatus : 1;
    $counter : 0;
  }
  @if($previousPoint <= -30){
    $displayStatus : 1;
  }
  @if($previousPoint >= 30){
    $displayStatus : 2;
  }



  @keyframes candleAnim#{$i} {
    0% {
      height: 0;
    }
    25% {
      height: $reduceFirst + px;
    }
    50% {
      height: $reduceSecond + px;
    }
    100% {
      height: $reduceThird + px;
    }
  }
  @keyframes candleDelayAnim#{$i} {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }
  .redCandleDiv#{$i}{
    top:#{-$previousPoint}px  !important;
  }
  .greenCandleDiv#{$i}{
    bottom:#{$previousPoint }px  !important;

  }
  .candle#{$i} {
    width: 100px;

    @if $displayStatus == 1 {
      display: none;
    };
    animation: candleAnim#{$i} 1s linear 1 forwards;

  }

  .candleRow#{$i}{
    animation:candleDelayAnim#{$i} 1s linear 0s forwards;
  }

  .candleShadow#{$i} {
    @if $displayStatus == 1 {
      display: none;
    };
    animation: candleShadowAnim#{$i} 1s linear  1 forwards;
  }


  @keyframes candleShadowAnim#{$i} {
    0% {
      height: 0;
    }
    100% {
      height: max($reduceFirst,$reduceSecond,$reduceThird) + px;
    }
  }


  @keyframes candleGreenAnim#{$i} {
    0% {
      height: 0;
    }
    25% {
      height: $reduceFirst + px;
    }
    50% {
      height: $reduceSecond + px;
    }
    100% {
      height: $reduceThird + px;
    }
  }

  .candleGreen#{$i} {
    width: 100px;
    @if $displayStatus == 2 {
      display: none;
    };
    animation: candleGreenAnim#{$i} 1s 1 forwards;
    animation-fill-mode: forwards;
  }

  .candleGreenShadow#{$i} {
    @if $displayStatus == 2 {
      display: none;
    };
    animation: candleGreenShadowAnim#{$i} 1s 1 forwards;
    animation-fill-mode: forwards;
  }


  @keyframes candleGreenShadowAnim#{$i} {
    0% {
      height: 0;
    }
    100% {
      height: max($reduceFirst,$reduceSecond,$reduceThird) + px;
    }
  }




  @if $displayStatus == 1 {
    $counter : $counter + 1;
    $sw : 1;
  }@else {
    $counter : $counter - 1;
    $sw : 0;
  }


  @if($sw == 0){
    $previousPoint : $previousPoint - $reduceThird;
  }
  @else{
    $previousPoint: $previousPoint + $reduceThird;
  }

}

