$satrexGreen : rgb(2, 181, 160);
$satrexVeryLightkBlue : #f9f8fd;
$satrexLightBlue : #4C2AF2;
$satrexDarkBlue : #00052f;
$satrexWhite : white;
$satrexLightGray : #f7f7f7;
$satrexSemiGray: #e5e8f1;
$satrexGray : #666666;
$satrexBlack : #000000;
$satrexMediumGray : #dee1ea;
$satrexRed : #FA4616;
$satrexPaddingCard : 5px;
$satrexCream : #f7f7f7;
$borderColor : #ececec;
$satrexDarkBlueDarkMode : #13063b;
$satrexDarkerBlueDarkMode : #02020e;
$satrexSemiDarkerBlueDarkMode : #08021c;
$satrexBorderDarkColor : #313131;
$satrexDarkerBlue : #02072f;
$satrexSemiLightGray : #989898;
$satrexPurple : #230a72;
$satrexBgGray : #212121;
$satrexCardGray : #0d0d0d;
$borderColor : #d5d5d5;
